#Specific files
.htpasswd
.visitorhtpasswd

acme.json

secrets/


#Types of files
*.aof
*.db
*.env
*.log
*.key
*.cnf
*.pub
*.sql
*.code-workspace
*.tar


## Secrets Folder ###########
/secrets/*
!/secrets/folder_notes.yaml
!/secrets/.gitignore
#############################

#Folders
.ipynb_checkpoints/
/authelia/config/
!/authelia/config/configuration.yml
/duplicati/*
/logs/
/env
/homer
/mongodb/data/*
/mariadb/data/*
/overleaf/*
/nodered/*
/old_code/*
/overleaf/*
/redis/*
/portainer/data/*
/sites/wordpress/html/*
/sites/matomo/*
/statping/*
/trash/
/traefik2/acme
/vscode/*
/vcard/*
/wiki/config/*
/wiki/data/*


#### Allow files
!**/.gitignore

!*/folder_notes.yaml
!**LICENSE*
!*/conf.d/custom.cnf
!/sites/wordpress/html/wp-content/themes/myself
!/sites/wordpress/html/wp-content/themes/myself/template-parts/content.php
nginx/on

**/sites_bak/