[submodule "prrx1-notebook"]
	path = sites/prrx1-notebook
	url = git@github.com:FacsimiLab-Rush/prrx1-notebook.git

[submodule "sites/bfgi-notebook"]
	path = sites/bfgi-notebook
	url = git@github.com:FacsimiLab-Rush/bfgi-notebook.git
	datalad-url = git@github.com:FacsimiLab-Rush/bfgi-notebook.git
	datalad-id = 6761fae7-e6e1-4490-a11c-95288d784d11

[submodule "dashboard"]
	path = dashboard
	url = git@gitea:Dr.PranavMishra/Dashboard.git
	datalad-id = 7fa22c33-8ef8-4370-a7bd-9c153f734caa

[submodule "authelia"]
	path = authelia
	url = git@gitea:Dr.PranavMishra/authelia.git
	datalad-id = b1716114-49d5-49b4-b8ec-e1988174619a
