[submodule "prrx1-notebook"]
	path = sites/prrx1-notebook
	url = git@github.com:FacsimiLab-Rush/prrx1-notebook.git

[submodule "sites/bfgi-notebook"]
	path = sites/bfgi-notebook
	url = git@github.com:FacsimiLab-Rush/bfgi-notebook.git

[submodule "sites/oa-ptoa-notebook"]
	path = sites/oa-ptoa-notebook
	url = git@github.com:FacsimiLab-Rush/oa-ptoa-notebook.git
