#Specific files
.htpasswd
.visitorhtpasswd
acme.json
on

#Types of files
*.aof
*.db
*.env
*.log
*.key
*.cnf
*.pub
*.sql
*.code-workspace
*.tar


#Folders
authelia/
/heimdall/config/*
/logs/
/mariadb/data/*
/matomo/*
/nodered/*
/redis/*
/portainer/data/*
/secrets/*
/sites/wordpress/html/*
/statping/*
/trash/
/vscode/*
/wiki/config/*
/wiki/data/*

# KH Info
/kh_gateway/*


#### Allow files
!*/folder_notes.yaml
!LICENSE-*
!*/conf.d/custom.cnf
!/sites/wordpress/html/wp-content/themes/myself
!/sites/wordpress/html/wp-content/themes/myself/template-parts/content.php

#Matomo testing
/sites/matomo/*