name: ntfy

# Ntfy - pubsub notification service


####################################
#            Networks              #
####################################

networks:
  traefik_external:
    external: true
    name: traefik_external


####################################
#            Services              #
####################################
services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    restart: unless-stopped
    environment:
      - TZ=America/Chicago    # optional: set desired timezone
    user: 1001:1001
    volumes:
      - ./cache:/var/cache/ntfy
      - ./data:/etc/ntfy
    # ports:
    #   - 80:80
    networks:
      - traefik_external
    command:
      - serve
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.ntfy-rtr.entrypoints=https"
      - "traefik.http.routers.ntfy-rtr.rule=Host(`ntfy.drpranavmishra.com`)"
      - "traefik.http.routers.ntfy-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.ntfy-rtr.middlewares=chain-authelia@file" # Authelia authentication
      # Redirect to https
      - "traefik.http.middlewares.test-redirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.test-redirectscheme.redirectscheme.permanent=true"
      ## HTTP Services
      - "traefik.http.routers.ntfy-rtr.service=ntfy-svc"
      - "traefik.http.services.ntfy-svc.loadbalancer.server.port=80"
    healthcheck: # optional: remember to adapt the host:port to your environment
      test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s